# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
venv/
env/
venv.bak/
*.egg-info/
templates/

# If you use pipenv or poetry, ignore lock files if you want
Pipfile.lock
poetry.lock

# --------------------------
# Environment / Credentials
# --------------------------
.env
.env.*
.credentials/
*.json
token.pickle
credentials.json

# --------------------------
# OS / Editor-specific
# --------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/

# --------------------------
# virtual env
# --------------------------
email/

# --------------------------
# local SQlite database & instance folder
# --------------------------
instance/
*.sqlite
*.sqlite3
user.db